<%= text_field :book, :isbn %>
<%= number_field :book, :isbn %>
<%= radio_button :user, :color, "red" %>赤
<%= check_box :book, :id, {}, 0, 1 %>
<%= select :user, :address, ["出雲市","松江市","雲南市"] %>
<%= link_to 'Back', books_path %>
<%= image_tag 'izumosyo.jpg' %>
<%= text_area :book, :memo %>
<select id="book_publish" name="book[publish]">  
<option value="1">技術評論社</option> 
<option value="2">翔泳社</option> 
<option value="3">マイナビ</option>  
</select>  
